#suggestionList {
    position: absolute;
    z-index: 1000;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

body.dark-mode {
    background-color: #121212 !important;
    color: #f8f9fa !important;
}

.dark-mode .navbar {
    background-color: #0d6efd !important;
}

.dark-mode .nav-link,
.dark-mode .navbar-brand {
    color: #f8f9fa !important;
}

.dark-mode .btn-outline-light {
    color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}

.dark-mode .btn-outline-light:hover {
    background-color: #f8f9fa !important;
    color: #212529 !important;
}

.dark-mode .form-control,
.dark-mode .list-group-item {
    background-color: #020a12cc;
    color: #f8f9fa;
    border-color: #6c757d;
}

.dark-mode .list-group-item:hover {
    background-color: #495057;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: #f8f9fa;
    border: 1px solid #333;
}

.dark-mode .footer {
    background-color: #1a1a1a;
}





nav {
    margin: 0;
    /* Remove default body margin */
    /* height: 100vh; */
    /* Make body full height */
    background-color: #f0f0f0;
    /* Fallback background color */
    /* Create the animated gradient */
    background-image: linear-gradient(to right, #cb115f, #0b8db1, #1117cb);
    background-size: 200% auto;
    /* Make gradient larger than container */
    animation: moveGradient 5s ease-in-out infinite;
    /* Apply animation */
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

footer {
    margin: 0;
    /* Remove default body margin */
    /* height: 100vh; */
    /* Make body full height */
    background-color: #f0f0f0;
    /* Fallback background color */
    /* Create the animated gradient */
    background-image: linear-gradient(to right, #cb115f, #0b8db1, #1117cb);
    background-size: 200% auto;
    /* Make gradient larger than container */
    animation: moveGradient 5s ease-in-out infinite;
    /* Apply animation */
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Change text color to black on hover */
#usr:hover {
    text-decoration-color: black;
    /* hover text color */
}

.avatar-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto 10px;
}

.avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0d6efd;
}

.avatar-upload {
    text-align: center;
}

.nav-tabs .nav-link.active {
    background-color: #0d6efd;
    color: #fff;
}